@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Achieve Excellence</h1>
</div>
<div class="home row">
    <div class="col-md-4">
        <h2>Apply</h2>
        <p>
            At Brown University we use teaching styles that 
            help each student to study and learn in ways
            that fit their style and show them how to apply
            it to real world situations.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Achieve</h2>
        <p>
            Our unique teaching methods lead students to reach
            the highest levels of achievement.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Become</h2>
        <p>
            Our graduates leave Brown University not only prepared
            to compete in the job market, but also with skills to
            be life-long learners and to become the person they
            want to be.
        </p>
    </div>
</div>